<p-dialog   
    [(visible)] = "display"
    modal="true"
    closable="true"
    header="about me"
    (onHide)="cancel()"
    [responsive]="true">
    <div class="imgAbout">
        <div class="aboutTop">           
            <img class ="aboutImg" [src]="aboutImg">
        </div>
        <div class="aboutRight">
            <h4>Angular is fun!</h4>
            <p>An awesome diy'er, you gotta see my projects! Building websites</p> 
            <p>using Angular and C# with Sql. Regularly updates gitHub.</p>           
        </div>           
    </div>
    <p-footer>
        <i class="pi pi-instagram"></i>
        <i class="pi pi-facebook"></i>
        <i class="pi pi-github"></i>
        <i class="pi pi-linkedin"></i>
        <i class="pi pi-envelope"></i>
      
    </p-footer>
</p-dialog>