<p-dialog   
    [(visible)] = "display"
    closable="true"
    [header]="headerAbout">
    <div class="imgAbout">
        <div class="aboutTop">
            <img class ="aboutImg" [src]="aboutImg">
            <i class="pi pi-instagram"></i>
            <i class="pi pi-facebook"></i>
            <i class="pi pi-envelope"></i>
        </div>
        <div class="aboutRight">
            <h4>Angular is fun!</h4>
            <p>An awesome Diy'er, you gotta see my projects!</p>
            <p>Building websites using Angular</p>
            <p>and C# with Sql.</p>
            <p>Hit me up on instagram, facebook!</p>
        </div>
    
    </div>
</p-dialog>