.imgAbout {
    display : flex;
}

.aboutTop {
    flex : 0 0 40%;
    text-align: left;
    color : grey;
    img {
        display: block;
        max-width: 75%;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }  
    
    .pi {
        margin-top: 10px;
        padding-left: 4px;
    }
}

.aboutRight {
    flex : 0 0 60%;
    max-width: 100%;
    padding-left: 10px;
    line-height: 5px;
}