<p-dialog   
    [(visible)] = "display"
    closable="true"
    [header]="headerAbout">
    <div class="imgAbout">
        <div class="aboutTop">           
            <img class ="aboutImg" [src]="aboutImg">
            </div>
        <div class="aboutRight">
            <h4>Angular is fun!</h4>
            <p>An awesome diy'er, you gotta see my projects!</p>
            <p>Building websites using Angular and C# with</p>
            <p>Sql. Regularly updates gitHub.</p>
        </div>   
    </div>
    <p-footer>
        <i class="pi pi-instagram"></i>
        <i class="pi pi-facebook"></i>
        <i class="pi pi-github"></i>
        <i class="pi pi-envelope"></i>
    </p-footer>
</p-dialog>