.imgAbout {
    display : flex;
    gap : 15px;
   
}

.aboutTop {
 
    flex : 0 0 40%;
   
    color : grey;
    justify-content: center; 
    img {
        display: block;
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }  
}

.aboutRight {
    flex : 0 0 60%;
    max-width: 100%;
    padding-left: 10px;
    line-height: 5px;
    background-color:rgb(225, 238, 226);
    border-radius: 10px;
}
.pi {
    margin-top: 10px;
    padding-left: 4px;
}


#p-dialog
{
    background-color: aquamarine;
}