<div class="btn-operation">
  <p-button icon="pi pi-plus" pTooltip="Add Material" [rounded]="false" [raised]="true" (onClick)="addMaterial()"></p-button>
  <p-button icon="pi pi-pencil" pTooltip="Edit Material" [rounded]="false" [raised]="true" [disabled] = "isEditDisabled" (onClick)="editMaterial()"></p-button>
  <p-button icon="pi pi-trash" pTooltip="Delete Material" [rounded]="false" [raised]="true" [disabled] = "isEditDisabled" (onClick)="deleteMaterial($event)"></p-button>
  <h2 class="detail-band">{{detailHeader}}</h2>
  <h2 class="detail-band project-amount">{{this.amount}}</h2>
</div>
<p-toast />
<ag-grid-angular class="ag-theme-quartz" 
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [defaultColDef]="defaultColDef"
    [class]="themeClass"
    (gridReady)="onGridReady($event)"
    [rowSelection]="'single'"
   > 
 </ag-grid-angular>
 
 <app-project-material-edit 
                            [header] ='editProjectHeader' 
                            [(projectMaterial)] = "projectMaterial" 
                            [displayMaterial] = "displayEditMaterial"
                            (displayMaterialChange)="materialCallBack($event)">
                            
  </app-project-material-edit>
  <p-confirmDialog />