/* Core Grid CSS */
.ag-theme-quartz {
    height: 92%;
    box-sizing: border-box;
}

.btn-operation {
    display : flex; 
    gap : 2px;
    margin-bottom: 5px;
    flex : 1;
}

.projectDetailHeader {
 margin-left: 10px;
 margin-top: 5px;
}