<div class="btn-operation">
  <p-button icon="pi pi-plus" [rounded]="false" [raised]="true" [disabled] = "true"></p-button>
  <p-button icon="pi pi-pencil" [rounded]="false" [raised]="true" [disabled] = "isEditDisabled" (onClick)="editMaterial()"></p-button>
  <p-button icon="pi pi-trash" [rounded]="false" [raised]="true" [disabled] = "true"></p-button>
  <h2 class="projectDetailHeader">{{detailHeader}}</h2>
</div>

<ag-grid-angular class="ag-theme-quartz" 
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [defaultColDef]="defaultColDef"
    [class]="themeClass"
    (gridReady)="onGridReady($event)"
   > 
 </ag-grid-angular>
 
 <app-project-material-edit 
                            [header] ='editProjectHeader' 
                            [projectMaterial] = "projectMaterial" 
                            [(displayMaterial)] = "displayEditMaterial">
  </app-project-material-edit>