<div class="projectItem">
  <div class="imgWrap">
      <img class= "projectImg" [src]="srcImage" alt="Project thumbnail">
      <h3 class="title">{{project.Name}}</h3>
    <div class="projectAction">
      <p-button icon="pi pi-list" pTooltip="View Materials" [rounded]="true" [raised]="true" (onClick)="selectProject('view')"></p-button>
      <p-button icon="pi pi-eye" pTooltip="Launch Gallery" [rounded]="true" [raised]="true" (onClick)="selectProject('gallery')"></p-button>
      <p-button icon="pi pi-pencil" pTooltip="Edit Project" [rounded]="true" [raised]="true" (onClick)="selectProject('edit')"></p-button>
    </div>
  </div> 
</div>