.leftPaneContainer {
    height : 96%;
    background-color: rgb(225, 238, 226);
    border: 1px solid rgb(225, 238, 226);
    margin : 9px;
    border-radius: 10px;
}

.dashboard {
    padding : 7px;
}
.MenuBand {
    height : 5%;
    background-color: rgb(94, 161, 94);
    border : 1px solid rgb(94, 161, 94);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;   
}
